.card{
    width:100%;
    /* height: 100vh; */
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    

}
input{
  
  text-align: center;
  margin-top: 3px;
  height: 25px;
  margin-bottom: 12px;
}
.sign{
    margin: 13px;
    margin-left: -1px;
}
.Login{
    background-color: rgb(129, 233, 233);
color: white;
}